body { 
    background-color: #b4bfd1;
}

.navigation {
    position: sticky;
    top: 0;
    background-color: #b4bfd1;
    padding: 1px;
    z-index: 2;
}

nav {
    background: #fff;
    border-radius: 30px;
    padding: 8px;
    margin: 10px auto;
    width: fit-content;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 4px 20px;
    margin: 6px;
    font-family: 'Inknut Antiqua', Garamond, Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 525;
    color: #666;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.3s;
}

nav ul li a {
    color: #666;
    text-decoration: none;
    display: block;
}

nav ul li::after {
    content: '';
    background: #536075;
    width: 106%;
    height: 140%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li:hover::after {
    opacity: 1;
}

.content {
    padding: 20px;
    padding-top: 30px;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-family: 'Inknut Antiqua', Garamond, Georgia, 'Times New Roman', Times, serif;
    font-size: 20;
    font-weight: 600;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.resume-block {
    background: #fff;
    border: 1px solid #283953;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.resume-block img {
    width: 100%;
    border-radius: 10px;
}

.resume-description p {
    color: #3a4659;
    font-size: 14;
}